<form class="box" action="/station/{{station._id}}/updatereport/{{report._id}}" method="POST">
  <label class="title is-4">
    <strong>Edit Report</strong>
  </label>
  <div class="field is-horizontal mt-6">
    <div class="field-body">
      <div class="field">
        <label>
          <strong>Weather Code</strong>
        </label>
        <input class="input has-background-warning-light" type="text" placeholder="00" name="code" value="{{report.code}}">
      </div>
      <div class="field">
        <label>
          <strong>Temperature</strong>
        </label>
        <input class="input has-background-warning-light" type="text" placeholder="00.0°C" name="temperature" value="{{report.temperature}}">
      </div>
      <div class="field">
        <label>
          <strong>Wind Speed</strong>
        </label>
        <input class="input has-background-warning-light" type="text" placeholder="00.00kMh" name="windSpeed" value="{{report.windSpeed}}">
      </div>
      <div class="field">
        <label>
          <strong>Wind Direction</strong>
        </label>
        <input class="input has-background-warning-light" type="text" placeholder="000deg" name="windDirection" value="{{report.windDirection}}">
      </div>
      <div class="field">
        <label>
          <strong>Pressure</strong>
        </label>
        <input class="input has-background-warning-light" type="text" placeholder="00.00hPa" name="pressure" value="{{report.pressure}}">
      </div>
    </div>
  </div>
  <button class="button is-warning">Update Report</button>
</form>
