<form class="box" action="/user/{{user._id}}/updateuser" method="POST"> 
  <label>
    <strong>User Details:</strong>
  </label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label>
          <strong>First Name</strong>
        </label>
        <input class="input" type="text" placeholder="First Name" name="firstName" value="{{user.firstName}}">
      </div>
      <div class="field">
        <label>
          <strong>Last Name</strong>
        </label>
        <input class="input" type="text" placeholder="Last Name" name="lastName" value="{{user.lastName}}">
      </div>
      <div class="field">
        <label>
          <strong>Email</strong>
        </label>
        <input class="input" type="text" placeholder="Email" name="email" value="{{user.email}}">
      </div>
      <div class="field">
        <label>
          <strong>Password</strong>
        </label>
        <input class="input" type="text" placeholder="Password" name="password" value="{{user.password}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update User Details</button>
</form>
