<form class="box" action="/user/{{user._id}}/updateuser" method="POST"> 
  <label class="title has-text-weight-semibold is-4">
    Edit User
  </label>
  <div class="field is-horizontal mt-6">
    <div class="field-body">
      <div class="field has-text-weight-bold">
        <label>
          First Name
        </label>
        <input class="input" type="text" placeholder="First Name" name="firstName" value="{{user.firstName}}">
      </div>
      <div class="field has-text-weight-bold">
        <label>
          Last Name
        </label>
        <input class="input" type="text" placeholder="Last Name" name="lastName" value="{{user.lastName}}">
      </div>
      <div class="field has-text-weight-bold">
        <label>
          Email
        </label>
        <input class="input" type="text" placeholder="Email" name="email" value="{{user.email}}">
      </div>
      <div class="field has-text-weight-bold">
        <label>
          Password
        </label>
        <input class="input" type="text" placeholder="Password" name="password" value="{{user.password}}">
      </div>
    </div>
  </div>
  <button class="button is-warning">Update User Details</button>
</form>
