<div class="columns is-multiline">
  
  <!-- Station Location -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">
              {{station.title}}
              </p>
            <p class="subtitle has-text-weight-semibold is-6">
              Lat: {{station.latitude}}<br>
              Lng: {{station.longitude}} <!-- This does not work correctly but have left it in to show that I was trying to pull the API's longitude -->
            </p>
          </div>
        </div>
        <figure class="media-right"> <!-- CSS styling to shift icon to bottom right so that the city name does not run over -->
          <p class="image is-64x64">
            {{>icons/location}}
          </p>
        </figure>
      </article>
    </div>
  </div>

  <!-- Weather Code -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">
              Weather
            </p>
            <p class="subtitle has-text-weight-semibold is-6">
              {{weatherCodeDescription}}
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            <img src="{{#if weatherCodeIcon}}{{weatherCodeIcon}}{{else}}https://placehold.co/32{{/if}}" alt="Weather Icon">
          </p>
        </figure>
      </article>
    </div>
  </div>
  
  <!-- Temperature -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">
              Temp
            </p>
            <p class="subtitle has-text-weight-semibold is-6">
              {{currentTempWithUnit}} <br>
              {{fahrenheitTemp}} <br>
              Min: {{minTemp}} <br>
              Max: {{maxTemp}}
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            {{>icons/thermometer}}
          </p>
        </figure>
      </article>
    </div>
  </div>
  
  <!-- Wind -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">
              Wind
            </p>
            <p class="subtitle has-text-weight-semibold is-6">
              {{currentSpeedWithUnit}} <br>
              {{windDirection}} <br>
              Min: {{minSpeed}} <br>
              Max: {{maxSpeed}}
            </p>
            <p class="subtitle is-6">
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            {{>icons/wind}}
          </p>
        </figure>
      </article>
    </div>
  </div>

    <!-- Pressure -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">
              Pressure
            </p>
            <p class="subtitle has-text-weight-semibold is-6">
              {{currentPressureWithUnit}} <br>
              Min: {{minPressure}} <br>
              Max: {{maxPressure}} 
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            {{>icons/barometer}}
          </p>
        </figure>
      </article>
    </div>
  </div>
</div>

<div class="box" id="chart"></div>
<script>
  data = {
    labels: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
    datasets: [
      { values: [18, 40, 30, 35, 8, 52, 17, -4] }
    ]
  };
  new frappe.Chart("#chart", {
    data: data,
    type: "line",
    height: 180,
    colors: ["red"]
  });
</script>

<div class="box box-link-hover-shadow">
  <div class="table-container">
    <table class="table is-fullwidth is-bordered is-striped is-hoverable has-text-left">
      <thead>
        <tr class="has-background-warning-light has-text-weight-bold">
          <th>Date/Time</th>
          <th>Weather Code</th>
          <th>Temperature</th>
          <th>Wind Speed</th>
          <th>Wind Direction</th>
          <th>Pressure</th>
        </tr>
      </thead>
      <tbody>
        {{#each station.reports}}
        <tr>
          <td>{{time}}</td>
          <td>{{code}}</td>
          <td>{{temperature}}</td>
          <td>{{windSpeed}}</td>
          <td>{{windDirection}}</td>
          <td>{{pressure}}</td>
          <td class="button-cell has-text-centered">
            <a href="/station/{{../station._id}}/editreport/{{_id}}" class="button is-small has-background-warning-light"> 
              {{>icons/edit}}
            </a>
          </td>
          <td class="button-cell has-text-centered">
            <form action="/station/{{stationId}}/report/{{reportId}}" method="POST"> <!-- ref for method=dleted -->
              <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button is-small has-background-warning-light">
                {{>icons/delete}}
              </a>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

