<div class="box box-link-hover-shadow">
  <div class="table-container">
    <table class="table is-fullwidth is-bordered is-striped is-hoverable has-text-left">
      <thead>
        <tr class="has-background-warning-light has-text-weight-bold">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr class="password-container">
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>
            <span class="password is-italic has-text-weight-semibold">Hover to Reveal</span>
            <span class="hidden-password">{{user.password}}</span> 
          </td>
          <td class="button-cell has-text-centered">
            <a href="/user/{{user._id}}/edituser" class="button">  
              {{>icons/edit}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>