<div class="columns is-multiline">
  
  <!-- Station Location -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4">
              {{station.title}}
              </p>
            <p class="subtitle is-6">
              Latitude: {{station.latitude}}
            </p>
            <p>
              Longitude: {{station.longitude}}
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            <img src="https://placehold.co/600x400" alt="Location Tag">
          </p>
        </figure>
      </article>
    </div>
  </div>

  <!-- Weather Code -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4">Weather</p>
            <p class="subtitle is-6">
              <!-- Weather Description -->
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            <img src="https://placehold.co/600x400" alt="Icon 2">
          </p>
        </figure>
      </article>
    </div>
  </div>
  
  <!-- Temperature -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4">Temp</p>
            <p class="subtitle is-6">
              Min: {{minTemp.temperature}}°C
            </p>
            <p>
              Max: {{maxTemp.temperature}}°C
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            <img src="https://placehold.co/600x400" alt="Icon 2">
          </p>
        </figure>
      </article>
    </div>
  </div>
  
  <!-- Wind -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4">Wind</p>
            <p class="subtitle is-6">
              Min Speed: {{minSpeed.windSpeed}} kMh
            </p>
            <p>
              Max Speed: {{maxSpeed.windSpeed}} kMh
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            <img src="https://placehold.co/600x400" alt="Icon 3">
          </p>
        </figure>
      </article>
    </div>
  </div>

    <!-- Pressure -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4">Pressure</p>
            <p class="subtitle is-6">
              Min: {{minPressure.pressure}} hPa
            </p>
            <p>
              Max: {{maxPressure.pressure}} hPa
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            <img src="https://placehold.co/600x400" alt="Icon 2">
          </p>
        </figure>
      </article>
    </div>
  </div>
</div>

<div class="container">
  <div class="table-container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Date/Time</th>
          <th>Weather Code</th>
          <th>Temperature</th>
          <th>Wind Speed</th>
          <th>Wind Direction</th>
          <th>Pressure</th>
        </tr>
      </thead>
      <tbody>
        {{#each station.reports}}
        <tr>
          <td>
            {{time}}
          </td>
          <td>
            {{code}}
          </td>
          <td>
            {{temperature}}
          </td>
          <td>
            {{windSpeed}}
          </td>
          <td>
            {{windDirection}}
          </td>
          <td>
            {{pressure}}
          </td>
          <td>
            <a href="/station/{{../station._id}}/editreport/{{_id}}" class="button"> 
              {{>icons/edit}}
            </a>
          </td>
          <td>
            <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button">
              {{>icons/delete}}
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>