<div class="columns is-multiline">
  
  <!-- Station Location -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">
              {{station.title}}
              </p>
            <p class="subtitle has-text-weight-semibold is-6">
              Lat: {{station.latitude}} <br>
              Lng: {{station.longitude}}
            </p>
          </div>
        </div>
        <figure class="media-right"> <!-- CSS styling to shift icon to bottom right so that the city name does not run over -->
          <p class="image is-64x64">
            {{>icons/location}}
          </p>
        </figure>
      </article>
    </div>
  </div>

  <!-- Weather Code -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">
              Weather
            </p>
            <p class="subtitle has-text-weight-semibold is-6">
              {{weatherCodeDescription}}
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            <img src="{{weatherCodeIcon}}" alt="Weather Icon">
          </p>
        </figure>
      </article>
    </div>
  </div>
  
  <!-- Temperature -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">
              Temp
            </p>
            <p class="subtitle has-text-weight-semibold is-6">
              {{latestReport.temperature}}째C <br>
              {{fahrenheitTemp}}째F <br>
              Min: {{minTemp.temperature}}째C <br>
              Max: {{maxTemp.temperature}}째C
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            {{>icons/thermometer}}
          </p>
        </figure>
      </article>
    </div>
  </div>
  
  <!-- Wind -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">
              Wind
            </p>
            <p class="subtitle has-text-weight-semibold is-6">
              {{latestReport.windSpeed}} kMh <br>
              {{windDirection}} <br>
              Min: {{minSpeed.windSpeed}} kMh <br>
              Max: {{maxSpeed.windSpeed}} kMh
            </p>
            <p class="subtitle is-6">
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            {{>icons/wind}}
          </p>
        </figure>
      </article>
    </div>
  </div>

    <!-- Pressure -->
  <div class="column is-one-fifth">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">
              Pressure
            </p>
            <p class="subtitle has-text-weight-semibold is-6">
              {{latestReport.pressure}} hPa <br>
              Min: {{minPressure.pressure}} hPa <br>
              Max: {{maxPressure.pressure}} hPa 
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            {{>icons/barometer}}
          </p>
        </figure>
      </article>
    </div>
  </div>
</div>

<div class="box box-link-hover-shadow">
  <div class="table-container">
    <table class="table is-fullwidth is-bordered is-striped is-hoverable has-text-left">
      <thead>
        <tr class="has-background-warning-light has-text-weight-bold">
          <th>Date/Time</th>
          <th>Weather Code</th>
          <th>Temperature</th>
          <th>Wind Speed</th>
          <th>Wind Direction</th>
          <th>Pressure</th>
        </tr>
      </thead>
      <tbody>
        {{#each station.reports}}
        <tr>
          <td>{{time}}</td>
          <td>{{code}}</td>
          <td>{{temperature}}</td>
          <td>{{windSpeed}}</td>
          <td>{{windDirection}}</td>
          <td>{{pressure}}</td>
          <td class="has-text-centered">
            <a href="/station/{{../station._id}}/editreport/{{_id}}" class="button is-small has-background-warning-light is-hovered"> 
              {{>icons/edit}}
            </a>
          </td>
          <td class="has-text-centered">
            <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button is-small has-background-warning-light is-hovered">
              {{>icons/delete}}
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

