<div class="columns is-multiline">

<!-- Station Weather Summary on Dashboard -->

  <!-- Station Location -->
  <div class="column is-one-fifth">
    <div class="box has-background-white-ter">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">
              {{title}}
            </p>
            <p class="subtitle has-text-weight-semibold is-6">
              Lat: {{latitude}} <br>
              Lng: {{longitude}}
            </p>
          </div>
        </div>
        <figure class="media-right"> 
          <p class="image is-64x64">
            {{>icons/location}}
          </p>
        </figure>
      </article>
    </div>
  </div>

  <!-- Weather Code -->
  <div class="column is-one-fifth">
    <div class="box has-background-white-ter">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">
              Weather
            </p>
            <p class="subtitle has-text-weight-semibold is-6 mb-5">
              {{weatherCodeDescription}}
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            <img src="{{#if weatherCodeIcon}}{{weatherCodeIcon}}{{else}}https://placehold.co/32{{/if}}" alt="Weather Icon"> <!-- plots placeholder image when no weatherCodeIcon -->
          </p>
        </figure>
      </article>
    </div>
  </div>
  
  <!-- Temperature -->
  <div class="column is-one-fifth">
    <div class="box has-background-white-ter">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">
              Temp
            </p>
            <p class="subtitle has-text-weight-semibold is-6">
              {{currentTempWithUnit}} <br>
              {{fahrenheitTemp}} <br>
              Min: {{minTemp}} <br>
              Max: {{maxTemp}} <br>
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            {{>icons/thermometer}}
          </p>
        </figure>
      </article>
    </div>
  </div>
  
  <!-- Wind -->
  <div class="column is-one-fifth">
    <div class="box has-background-white-ter">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">Wind</p>
            <p class="subtitle has-text-weight-semibold is-6">
              {{currentSpeedWithUnit}} <br>
              {{windDirection}} <br>
              Min: {{minSpeed}} <br>
              Max: {{maxSpeed}}
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            {{>icons/wind}}
          </p>
        </figure>
      </article>
    </div>
  </div>

    <!-- Pressure -->
  <div class="column is-one-fifth">
    <div class="box has-background-white-ter">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="title is-4 mb-6">Pressure</p>
            <p class="subtitle has-text-weight-semibold is-6">
              {{currentPressureWithUnit}} <br>
              Min: {{minPressure}} <br>
              Max: {{maxPressure}}
            </p>
          </div>
        </div>
        <figure class="media-right">
          <p class="image is-64x64">
            {{>icons/barometer}}
          </p>
        </figure>
      </article>
    </div>
  </div>
</div>


